body {
  display: flex;
  flex-direction: row;
}
.box {
  height: 100px;
  width: 100px;
  /* background-color: aqua; */
  border: 1px solid black;
}
.box {
  color: aqua;
  font-size: 50px;
}
.strike {
  font-size: 90px;
  margin-top: 10px;
  text-align: center;
  transform: rotate(135deg);
}
